<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projectpkl">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PKLProject"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Layanan.Akomodasi"></activity>
        <activity android:name=".Layanan.Puskesmas" />
        <activity android:name=".Layanan.KantorPolisi" />
        <activity android:name=".Layanan.Layanan" />
        <activity android:name=".UsahaMikro" />
        <activity android:name=".TempatIbadah" />
        <activity android:name=".Kuliner" />
        <activity android:name=".Penginapan" />
        <activity android:name=".WisataActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>